
/* --- MediaBar --- */


/* --- 画像を明るくする --- */
.backdrop-overlay {
  background-color: rgba(0, 0, 0, 0);
}
.backdrop-container {
    filter: brightness(0.999);
}
/* --- 画像のアップ無効 --- */
@keyframes kenBurnsZoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
/* --- 160em PC 2560px--- */
@media only screen and (min-width: 160em) {
#slides-container {
  margin-top: 4.8em !important;
}
#slides-container {
  padding-top: 15.5em !important;
}
.sections.homeSectionsContainer {
  margin-top: 15.5em !important;
}
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre,
.button-container {
  margin-top: 5.5em !important;
}
#slides-container .arrow {
 margin-top: -9em !important;
}
.favorite-button {
  display: none;
}
}

/* --- 120em PC 1920px--- */
@media only screen and (min-width: 100em) and (max-width: 159.99em) {
#slides-container {
  margin-top: 4.8em !important;
}
#slides-container {
  padding-top: 9em !important;
}
.sections.homeSectionsContainer {
  margin-top: 11em !important;
}
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre,
.button-container {
  margin-top: 5.5em !important;
}
.arrow {
 margin-top: -9em !important;
}
.favorite-button {
  display: none;
}

}

/*  ----- (min-width: 60em) (Ipad:横) ----- */

@media only screen and (min-width: 60em) and (max-width: 99.99em) and (min-height: 767px) and (orientation: landscape) {
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre,
.button-container,
#slides-container .backdrop.high-quality.animate {
  margin-top: 5em !important;
}

#slides-container {
  margin-top: -1em !important;
}
.favorite-button {
  display: none;
}
}


@media only screen and (min-width: 60em) and (max-width: 99.99em) and (max-height: 766.99px) and (orientation: landscape) {
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre {
  margin-top: 9em !important;
}
.button-container {
  margin-top: 7em !important;
}
#slides-container .arrow  {
  margin-top: 6em;
}
.sections.homeSectionsContainer {
  margin-top: -2em;
}
#slides-container .backdrop.high-quality.animate {
  margin-top: 14em;
  width: 100vw; 
  height: 80vh;
}
#slides-container {
  margin-top: -12em !important;
}
.favorite-button {
  display: none;
}
}
@media only screen and (min-width: 60em) and (max-width: 99.99em) and (max-height: 690.99px) and (orientation: landscape) {
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre {
  margin-top: 11em !important;
}
.button-container {
  margin-top: 9.3em !important;
}
}
@media only screen and (min-width: 60em) and (max-width: 99.99em) and (max-height: 590.99px) and (orientation: landscape) {
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre {
  margin-top: 9.5em !important;
}
#slides-container {
  margin-top: -10.5em !important;
}
.button-container {
  margin-top: 8.5em !important;
}
}







/*  ----- (max-width: 48em) (Ipad:横) (safariとか使うキチガイ用レイアウト)----- */

@media only screen and (min-width: 48em) and (max-width: 59.99em) and (max-height: 59.99em) and (orientation: landscape) {
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre {
  margin-top: 9em !important;
}
.button-container {
  margin-top: 7.5em !important;
}
#slides-container .arrow  {
  margin-top: 6em;
}
.sections.homeSectionsContainer {
  margin-top: -9em;
}
#slides-container .backdrop.high-quality.animate {
  margin-top: 14em;
  width: 100vw; 
  height: 80vh;
}
#slides-container {
  margin-top: -12em !important;
}
.favorite-button {
  display: none;
}
}
@media only screen and (min-width: 48em) and (max-width: 59.99em) and (max-height: 47.99em) and (orientation: landscape) {
.sections.homeSectionsContainer {
  margin-top: -3em;
}
}



/*  ----- (min-width: 48em) (Ipad air:縦) ----- */

@media only screen and (min-width: 48em) and (max-width: 59.99em) and (min-height: 56em) and (orientation: portrait) {

#slides-container .backdrop.high-quality.animate {
  width: 100vw;
  height: 43vh;
  margin-top: 27em !important;
}
.dots-container,
.plot-container,
.info-container,
.genre {
  margin-top: 8em !important;
}
.logo-container  {
  margin-top: 10em !important;
  width: 33vw;
}
.dots-container,
.plot-container,
.info-container,
.genre {
  font-size: 100% !important;
}
.button-container {
  margin-top: 5em !important;
}
.arrow.left-arrow,
.arrow.right-arrow {
  margin-top: 7em !important;
}
.dots-container {
  left: 49%;
}
#slides-container {
  margin-top: -23em !important;
}
.sections.homeSectionsContainer {
  margin-top: -24em !important;
}
.favorite-button {
  display: none;
}
}
@media only screen and (min-width: 48em) and (max-width: 59.99em) and (max-height: 45.99em) and (orientation: portrait) {

#slides-container .backdrop.high-quality.animate {
  margin-top: 17em !important;
}
.dots-container,
.logo-container,
.plot-container,
.info-container,
.genre {
  margin-top: 11em !important;
}
.button-container {
  margin-top: 9.2em !important;
}
.arrow.left-arrow,
.arrow.right-arrow {
  margin-top: 10em !important;
}
.dots-container {
  left: 49%;
}
#slides-container {
  margin-top: -17em !important;
}
.sections.homeSectionsContainer {
  margin-top: -10em !important;
}
.favorite-button {
  display: none;
}
}



/*  ----- (min-width: 36em) and (max-width: 47.99em) (Ipad:縦) ----- */


@media only screen and (min-width: 36em) and (max-width: 47.99em)  {

.logo-container {
  margin-top: 7.5em !important;
  left: 23vw;
  width: 45%;
}
.dots-container {
  margin-top: 11em !important;
}
#slides-container .backdrop.high-quality.animate {
  height: 400px !important;
  margin-top: 33em !important;
}
.button-container {
  margin-top: 2em;
  left: 82%;
}
#slides-container {
  margin-top: -27em !important;
}
.sections.homeSectionsContainer {
  margin-top: -21em;
}
#slides-container .arrow  {
  margin-top: 15em;
}
.genre,
.info-container,
.favorite-button {
  display: none !important;
}
}


/*  ----- (スマホ) ----- */


/*  ----- max-width: 35.99em (スマホ:縦) ----- */

/* --- (iPhone XR) (iPhone 14 Pro Max) (AQUOS sense8) (Galaxy S20 Ultra) --- */
@media only screen and (max-width: 35.99em) and (min-height: 56em) and (max-height: 59.99em) and (orientation: portrait) {
.logo-container {
  margin-top: 7.5em !important;
  left: 50vw;
  height: 45vw;
}
.dots-container {
  margin-top: 9em !important;
}
#slides-container .backdrop.high-quality.animate {
  height: 50vh !important;
  margin-top: 21.5em !important;
}

#slides-container {
  margin-top: -15em !important;
}
.sections.homeSectionsContainer {
  margin-top: -13em;
}

.genre,
.info-container {
  margin-top: 6.5em;
}
.button-container {
  margin-top: 1.5em;
}
#slides-container .arrow  {
  margin-top: 10em;
}
.button-container .detailButton.detail-button  {
  height: 40px;
  width: 40px;
}
.button-container .detailButton.btnPlay  {
  height: 40px;
}
.info-container .material-icons:nth-of-type(3) {
  display: none !important;
}
.info-container .runTime,
.favorite-button {
  display: none !important;
} 
}

/* --- (iPhone 12 Pro) (iPhone 15) (AQUOS sense8) (Galaxy S24 Ultra Full) --- */
@media only screen and (max-width: 35.99em) and (min-height: 50em) and (max-height: 55.99em) and (orientation: portrait) {
.logo-container {
  margin-top: 7.5em !important;
  left: 50vw;
  height: 45vw;
}
.dots-container {
  margin-top: 9em !important;
}
#slides-container .backdrop.high-quality.animate {
  height: 48vh !important;
  margin-top: 21.5em !important;
}

#slides-container {
  margin-top: -15em !important;
}
.sections.homeSectionsContainer {
  margin-top: -13em;
}

.genre,
.info-container {
  margin-top: 6.5em;
}
.button-container {
  margin-top: 2em;
}
#slides-container .arrow  {
  margin-top: 10em;
}
.button-container .detailButton.detail-button  {
  height: 40px;
  width: 40px;
}
.button-container .detailButton.btnPlay  {
  height: 40px;
}
.info-container .material-icons:nth-of-type(3) {
  display: none !important;
}
.info-container .runTime,
.favorite-button {
  display: none !important;
} 
}

/* --- (Galaxy S24) (Galaxy S24 Ultra) --- */
@media only screen and (max-width: 35.99em) and (min-height: 42em) and (max-height: 49.99em) and (orientation: portrait) {
.logo-container {
  margin-top: 2.6em !important;
  left: 28vw;
  width: 55vw;
}
.dots-container {
  margin-top: 5.1em !important;
}
#slides-container .backdrop.high-quality.animate {
  height: 32vh !important;
  margin-top: 21.5em !important;
}

#slides-container {
  margin-top: -14.5em !important;
}
.sections.homeSectionsContainer {
  margin-top: -17em;
}

.genre {
  margin-top: 1.5em;
}
.button-container {
  margin-top: -1.5em;
}
#slides-container .arrow  {
  margin-top: 8.5em;
}
.button-container .detailButton.detail-button  {
  height: 40px;
  width: 40px;
}
.button-container .detailButton.btnPlay  {
  height: 40px;
}
.info-container .material-icons:nth-of-type(3) {
  display: none !important;
}
.info-container .runTime,
.favorite-button,
.info-container {
  display: none !important;
} 
}



/* --- (iPhone SE) --- */
@media only screen and (max-width: 35.99em) and (max-height: 41.99em) and (orientation: portrait) {
.logo-container {
  margin-top: 4.3em !important;
  left: 28vw;
  width: 55vw;
}
.dots-container {
  margin-top: 9em !important;
}
#slides-container .backdrop.high-quality.animate {
  height: 45vh !important;
  margin-top: 21.5em !important;
}

#slides-container {
  margin-top: -15em !important;
}
.sections.homeSectionsContainer {
  margin-top: -15em;
}

.genre,
.info-container {
  margin-top: 6.5em;
}
.button-container {
  margin-top: 3.3em;
}
#slides-container .arrow  {
  margin-top: 12em;
}
.button-container .detailButton.detail-button  {
  height: 35px;
  width: 35px;
}
.button-container .detailButton.btnPlay  {
  height: 35px;
}

.info-container .material-icons:nth-of-type(3) {
  display: none !important;
}
.info-container .runTime,
.favorite-button {
  display: none !important;
} 
}

